<!-- component -->
<!-- This is an example component -->
<div class='flex items-center justify-center min-h-screen'>
	<div className="md:w-72 rounded-3xl md:p-1 text-center flex flex-row md:flex-col ">
		    
		<div class="inline-flex items-center"></div>    
		
	</div>
</div>