<div tabindex="0" class="collapse"> <font></font>
  <div class="collapse-title text-xl font-medium"><font></font>
    Focus me to see content<font></font>
  </div><font></font>
  <div class="collapse-content"> <font></font>
    <p>tabindex="0" attribute is necessary to make the div focusable</p><font></font>
  </div><font></font>
</div>

<br><br><br><br><br>

<div tabindex="0" class="collapse"> <font></font>
  <div class="collapse-title text-xl font-medium"><font></font>
    Focus me to see content<font></font>
  </div><font></font>
  <div class="collapse-content"> <font></font>
    <p>tabindex="0" attribute is necessary to make the div focusable</p><font></font>
  </div><font></font>
</div>