<% @FeedCourses.each do |feed_course| %>
	<div class="w-full flex border-b p-2 border-gray-300">
        <div class="flex flex-col ">
	        <div class="flex justify-center  ">
				<p class="font-bold text-xl"><%= feed_course.material_name %></p> 
			</div>
			<div class="mt-4">
				<span class="font-bold text-xl"><%= feed_course.title %></span>
			</div>

			<div class="mt-1 onclick="feeds_course">
				<%= truncate(strip_tags(feed_course.content.to_s.html_safe), length: 400) %> 
				<span class="ln-btn-color ln-btn-hover-color ">Voir plus</span>
			</div>
            
            <!--  -->
			<div class="border-t mt-2">
				<div class="flex justify-between my-1">
					<button class="ml-2 text-md font-semibold">Essentiels</button>
					<button class="ml-2 text-sm font-semibold">Initiation</button>
					<button class="ml-2 text-sm font-semibold">Exercices</button>
				</div>
			</div>
		</div> 
	</div>
<% end %>