<%# @FeedCourses.each do |feed_course| %>
	<div class="flex w-full px-4 pt-2 border-b border-gray-300">
        <div class="flex flex-col flex-grow ">
	        <div class="flex">
				<span class="w-12 h-12 bg-gray-400 rounded-full"></span>
				<span class="font-semibold mt-4 ml-2"><%#= feed_course.user.full_name %></span>
				<span class="ml-2 mt-4">@<%#= feed_course.material_name %></span> 
			</div>
			<div class="mt-4 font-bold">
				<span class="font-semibold"><%#= feed_course.title %></span>
			</div>
			<p class="mt-1 onclick="feeds_course"><%#= truncate(strip_tags(feed_course.content.to_s.html_safe), length: 200) %></p>
            
            <!--  -->
			<div class="flex mt-2">
				<button class="text-sm font-semibold">Like</button>
				<button class="ml-2 text-sm font-semibold">Reply</button>
				<button class="ml-2 text-sm font-semibold">Share</button>
			</div>
		</div> 
	</div>
<%# end %>